/*Mobile*/
@media screen and (max-width: 480px) {
    body{
        background: red;
    }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    body{
        background: orange;
    }
}

/* Small tablet */
@media (min-width: 768px) and (max-width: 991px) {
    body{
        background: pink;
    }
}

/* Tablet/Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    body{
        background: rgb(17, 0, 255);
    }
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1999px) {
    body{
        background: rgb(77, 255, 0);
    }
}

/* Extra Large */
@media (min-width: 1920px) {
    body{
        background: blueviolet !important;
    }
} 
